
.slide-container {


  max-width: 750px;
  position: relative;
  margin: auto ;
  margin-bottom: 20px;
}





.paragraphe p{
  background-color: white;
  color: black;
  text-align: center;

}

.paragraphe h1{
  text-align: center;
}

.slide-container img{
  background-color: white;
  color: black;
}




.navigationFace button:hover{
    background-color:#9786ad;
    color: white;
    
}
.navigationFace button{
  text-align: center;
  align-items: center;
  padding: 9px 25px;
    background-color: rgb(231,212,255);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 40px;
    
 
}


.navigationFace {
  text-align: center;
}





