.logo-face{
  background: url(face.PNG) no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
  
  opacity: 77%;
}
.face p{
  color:blanchedalmond;
  width: 60%;
  text-align: center;
  left: 20%;
  padding: 0px 30px 40px;
  font-family: 'Lora', serif;

}

.face h1{
  font-family: 'Lora', serif;
  color: blanchedalmond;
  font-size:65px;
  text-align: center;
  vertical-align: middle;
  padding-top: 13%;
}


.slide-container img {
	margin: auto;
}
.slide-container {


  max-width: 750px;
  position: relative;
  margin: auto ;
  margin-bottom: 20px;
}


.navigationFace button{
	padding: 9px 25px;
    background-color: rgb(231,212,255);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.paragraphe p{
  background-color: white;
  color: black;
  text-align: center;
}

.paragraohe h1{
  text-align: center;
  align-items: center;
}


.paragraphe {
  text-align: center;
}



