

.tip{
    margin: 0;
    font: 21px/37px "Titan One";
    text-shadow:#ffe69a 0 -1px 0,
    #ff6767 2px 2px 0,
    #ca3333 3px 3px 0,
    #770a0c 4px 4px 0,
    #333 5px 5px 10px;
    color:#fff;
}

p{ 
    font-size:15px;
    width: 640px;
    line-height: 25px;
    margin-left: 40px;
    padding-top: 10px;  
    justify-content: center;
}

