body {
    margin: 0;
    padding: 0;
    color:rgb(233, 222, 222);
    font: Arial, Sans-Serif;

}
 
#part1 {
    background: url("body.jpg") center 0 no-repeat fixed;
}
 
#part2 {
    background: url("terre.webp") center 0 no-repeat fixed;
}
 
#part3 {
    background: url("bio.jpg") center 0 no-repeat fixed;
        color: #170b27;
        background-color: #fdfbfb77;
     
        padding: 15px 15px;
        border-radius: 10px;
    
}
 
.inside {   
    margin: 0px auto;
    text-align:justify;
         
    width: 500px;
    padding: 50px 0px;
 
    height: 1200px;
}