@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: rgb(116, 126, 177);
}
button{
    display:flex;
    flex-wrap: wrap;
    background-color: burlywood;
    margin : 8px ;
    text-transform: uppercase;
    border: none;
    box-shadow: grey 1px 1px 1px;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 1px;
    min-height: 36px;
    padding: 0 8px;
    pointer-events: auto;
}

a{
    text-transform: uppercase;
    border: none;
    box-shadow: grey 1px 1px 1px;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 1px;
    min-height: 36px;
    padding: 0 8px;
    pointer-events: auto;
}

footer{
    background-color: rgba(17, 16, 16, 0.616);
}

button:hover{
    background-color: rgb(224, 207, 185);
}

.article{
    display: flex;
    flex-wrap: wrap;
}