@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');



/*liste des produits*/
.overall ul li a img{
    height:200px;
    width: 200px;
}

.overall ul{
    
    width:30%;
}

.grow {
    font: 41px/57px "Titan One";
        text-shadow:#ffe69a 0 -1px 0,
    #ff6767 2px 2px 0,
    #ca3333 3px 3px 0,
    #770a0c 4px 4px 0,
    #333 5px 5px 10px;
    color:#FFE5BF;
}

.grow{
    top:30px;
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
    z-index: 1;   
}

@media (max-width: 1020px) {
    .grow {
        font: 24px/72px "Titan One";
        text-align: center;
    }
    
}

article {
    background-color: rgb(168, 170, 189);
    
    margin: auto auto 50px auto;
    width: 100vw;
    max-width: 820px;
}

.welcome {
    background-color: #ca3333;
    height: 200px;
    margin: 0px auto;
    width: 100vw;
    max-width: 1200px;
    top:0;
}

.goal {
    background-color: #770a0c;
    height: 200px;
    margin: 0px auto;
    width: 100vw;
    max-width: 1200px;
}





html {
    scroll-behavior: smooth;
    /*liste des produits*/
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
  }

body { 
    overflow-x: hidden;
    
/*liste des produits*/
    font-family: sofia-pro,"Gill Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
/*********************/
}
.container{
    --n: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 30%;
    width: calc(var(--n)*30%);
    height: 20vw; max-height: 130vh;
    transition: transform .5s ease-out;
    transform: translate(calc(var(--i, 0)/var(--n)*-30% + var(--tx, 0px)))
  
}



.smooth { 
    transition: transform calc(var(--f, 1)*.5s) ease-out; 
}

.container img {
    width: 100%;
    width: calc(100%/var(--n));
    pointer-events: none;
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

html, body {
    height: 100%;
}

#page-wrap {
     min-height: 100%;
    /* equal to footer height */
     margin-bottom: -142px; 
 
}



.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
      height: 142px; 
}

li, a, button, label{
    font-weight: 500;
    font-size: 16px;
    color: #000608;
    text-decoration: none;

    margin: 8px ;
    text-transform: uppercase;
    border: none;
    font-size: .875rem;
    letter-spacing: 2px;
    
    min-height: 36px;
    padding: 0 8px;
    pointer-events: auto;
}



.navigation{
    float: right;

}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.site-footer{
    background-color: rgb(231,212,255);
}

div img{
    height:350px;
    width:350px;
    cursor: pointer;
}

li a img{
    height:20px;
    width:20px;
}

.nav{
    list-style: none;

}

.nav li{
    display:inline-block;
    right: 0;
    padding: 0px 20px;
}

.nav li a{
    transition: all 0.3s ease 0s;
}

.nav li a:hover, .nav_footer li a:hover{
    text-shadow:#ffe69a 0 -1px 0,
    #ff6767 2px 2px 0,
    #ca3333 3px 3px 0,
    #770a0c 4px 4px 0,
    #333 5px 5px 10px;
    color:#FFE5BF;

}



.nav_footer button{
    padding: 9px 25px;
    background-color: #AA90B1;
    border-radius: 10px 100px / 120px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_footer button:hover{
    background-color:#B584C1;
    color: white;
}

.title{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    border: none;
    font-size: .875rem;
    font-weight: 800;
    letter-spacing: 1px;
    min-height: 36px;
    padding: 4px 8px;
    pointer-events: auto;
    left: 0;

    text-shadow:#ffe69a 0 -1px 0,
    #ff6767 2px 2px 0,
    #ca3333 3px 3px 0,
    #770a0c 4px 4px 0,
    #333 5px 5px 10px;
    color:#FFE5BF;
    background-color:#fff;
}

.title:hover{
    color: white;
}


.list-ad-zone-header{
    color:transparent;
}

 div article{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    padding: 0 8px;
    letter-spacing: 1px;
}



p{
    /*letter-spacing: 1px;
    font-size:15px;
    width: 640px;
    line-height: 25px;
    margin-left: 40px;
    padding-top: 10px;  */
    margin:10px;
}



.credits{
    color: #b9d3da;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    border: none;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 1px;
    min-height: 36px;
    padding: 0 8px;
    pointer-events: auto;
    
}

.logo{
    background: url(home_images/home1.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;
    opacity: 77%;
}


.text-logo h1{
    font-family: 'Lora', serif;
    color: black;
    font-size:65px;
    text-align: center;
    vertical-align: middle;
    padding-top: 13%;
}

.text-logo p{
    color: black;
    width: 60%;
    text-align: center;
    left: 20%;
    padding: 0px 30px 40px;

}

.learn_more{
    text-align: center;
}

.learn_more button{
    background-color: #E0CFE4;
    border-radius: 10px 100px / 120px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.learn_more button:hover{
    background-color: #B584C1;
    color: white;
}

.contacts img{
    margin: 0px 20px;
}



.footer{
    display: flex;
    justify-content: flex-start;
}

.bordure{
    width: 70px;
    height: 2px;
    background-color: black;
    margin-left: 32px;
    margin-bottom: 10px;
}

.nav_footer li{
    display: inline-block;
    padding-right: 10px;
}

.site-footer h2{
    color: black;
     font-family: sofia-pro,"Gill Sans",Helvetica,Arial,sans-serif;
    text-transform: uppercase;

}


.aboutus button{
    background-color: #AA90B1;
    border-radius: 10px 100px / 120px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.aboutus button:hover{
    background-color: #B584C1;
    color: white;
}

.credit{
    margin-right: 100px;
    flex-wrap: wrap;
}
.credit p{
    font-size: 12px;
    color: black;
    margin-top: 25px.
}


/*******************it's your turn form**********************/

caption{
    font-size: 20px;
    padding-bottom: 7px;
    color: rgb(122, 58, 51);;
    text-transform: uppercase;
}

table {
     margin-top: 6px;
     border-collapse: collapse;
     width: 100%;
     border: thin solid #000000;
}

th, td {
     border: thin solid #000000;	 
     width: 5%;
     text-align: center;
     
}

thead{
    background-color: #FFDAB9;
}

tbody {
    background-color: #FFEFD5; 
}

.same{
    	 
    border: 1px solid rgb(67, 146, 136);
    
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px rgb(88, 104, 124);
    
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 700px;
    padding: 12px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-flow: row wrap;
            
}



