button{
    display:flex;
    flex-wrap: wrap;
    background-color: burlywood;
    margin : 8px ;
    text-transform: uppercase;
    border: none;
    box-shadow: grey 1px 1px 1px;
}

button:hover{
    background-color: rgb(224, 207, 185);
}

.article{
    display: flex;
    flex-wrap: wrap;
}