@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.banner{
    width: 80%;
    height: 40%;
    left: 100px;
    position: relative;    
    margin-bottom: 40px;
    overflow: hidden;
}

.app-text{
    width: 50%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.app-text h1{
    font-size:43px;
    width: 640px;
    padding-bottom: 10px;
}

.app-text p{
    font-size:15px;
    width: 640px;
    line-height: 25px;
    color: black;
    margin-left: 40px;
    padding-top: 10px;  
}

.app-picture{
	width: 50%;
	float: right;
	padding-bottom: 10px;
	
}

.app-picture img{
	width: 90%;
	padding-left: 50px; 
	padding-bottom: 120px;

}

.menuDiy button{
	padding: 9px 25px;
    background-color: rgb(231,212,255);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 40px;
}

.menuDiy{
	text-align: center;
	margin: 20px;
	left: 100px;

}

.menuDiy button:hover{
    background-color:#9786ad;
    color: white;
}

.menuDiy button{
    transition: all 0.3s ease 0s;

}



p, h2{
	color: white;
    letter-spacing: 1px;
    font-size:16px;
    margin: 10px;
    margin-left: 	30px;
    font-weight: 500;
    position: relative;

}

.text_mask{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top: 0;
}



/**************SLIDER**********************/
.galleryContainer{
	width: 100%
	height: 150px;
	max-width: 750px;
	user-select: none;
	box-shadow: 0px 0px 3px 1px #00000078;
	padding: 10px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	box-sizing: border-box;
	margin: 0 auto;
}

.slideShowContainer{
	width: 100%;
	height: 400px;
	overflow: hidden;

	position: relative;
}

.imageHolder{
	width: 	100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}


.imageHolder img{
	height: 380px;
	width: 100%;
	padding-right: 20px;
	padding-bottom: 20px;

}

.captionText{
	display: none;
}


.leftArrow, .rightArrow{
	width: 40px;
	background: #00000036;
	z-index: 1;
	transition: background 0.5s;
	height: 62px;
	top: 50%;
	transform: translateY(-50%);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
}

.rightArrow{
	float: right;
	top: 33%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px; 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
}

.leftArrow:hover{
	background: #000000a8;
	cursor: pointer;
}

.rightArrow:hover{
	background: #000000a8;
	cursor: pointer;
}

.arrow{
	display: inline-block;
	border: 3px solid white;
	width: 10px;
	height: 10px;
	border-left: none;
	border-bottom: none;
	margin: auto;
	position: relative;
	left: 10px;
	right: 10px;
	top: 25px;
	bottom: 0;
}

.arrow.arrowLeft{
	transform: rotateZ(-135deg);
}

.arrow.arrowRight{
	transform: rotateZ(45deg);
}

.galleryContainer #dotsContainer{
	width: 100%;
	height: 5%;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	position: relative;

}

.galleryContainer #dotsContainer .dots{
	display: inline-block;
	width: 25px;
	height: 20px;
	border-radius: 50%;
	margin-left: 10px;
	background-color: #bbb;
	cursor: pointer;
	transition: background-color 0.5s;
}

.galleryContainer #dotsContainer .dots:hover, .galleryContainer #dotsContainer .dots.active {
	background-color: #717171;
}

.galleryContainer #dotsContainer .dots:first-child{

	margin-left: 0;
}

